<% include head.ejs%>

<div id='root'></div>
<script src="/dist/script.js"></script>
<script type="text/javascript">
$script('https://maps.googleapis.com/maps/api/js?key=AIzaSyBIbSyqxifN1yHQ-VjV9VDELz--j67fjQw&libraries=places', 'googleAPI', function () {
    $script('/dist/bundle.js', 'bundle', function() {
      })
    })
</script>
<% include foot.ejs%>
