<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <center><a style="margin-left:15px;margin-right:15px" href="/auth/google"><img style="width:250px" src="/assets/google-logo.png" /></a></center>

    </div>

<% include foot.ejs%>