<% include head.ejs%>

    <div>

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div id='login-root'></div>

    </div>

    <script src="/dist/login.bundle.js"></script>

<% include foot.ejs%>