<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div id='login-root'></div>        

    </div>

    <script src="/dist/login.bundle.js"></script>    

<% include foot.ejs%>