@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Handlee|Lato|Shrikhand|Pontano+Sans|Carter+One');


.landing-title {
  font-family: 'Carter One', cursive;
  position: relative;
  font-size: 3vw;
  color:#66BB6A;
  float: right;
  padding-left: -30%;
}

.landingsubtitle {
  font-family: 'Handlee', cursive;
}

.paw-logo {
  width: 5vw;
  margin-left: 35%
}


.container {
  margin: auto;
  width: 100%;
}

#root {
  width: 100%;
}

.landing-nav{
  padding-left: 30%;
}

.navbar-nav{
  list-style: none;
  text-align: right;

}

.nav-item{
    float: left;
}

.nav-link{
    display: block;
    color: grey;
    font-size: 22px;
    padding: 14px 30px;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    text-decoration: none;
}

.landing-top {
  margin-top: 30px;
}

.slogan {
  margin-top: 120px;
  margin-left:230px;
  margin-bottom:80px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 2vw;
  color: #5c5d5e;
}

.dog-walking-container{
  text-align: center;
}
.dog-walking-img{
  width: 80%
}

.icon-container {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 80%
}

.demo-text {
  position: relative;
  padding-top:15vh;
  padding-left: 10vw;
  padding-right:10vw;
}

.white-background {
  padding-left: 10vw;
  padding-right:10vw;
}

.grey-background {
  padding-left:10vw;
  padding-right:10vw;
}

.demo-container-blue {
  background-color:#66BB6A;
  color:white;
  height:50vh;
}

.demo-container-white {
  background-color: #f9fafc;
  color:#5c5d5e;
  height:50vh;
}

.demo-title {
  font-size: 30px;
}

.demo-para {
  font-size:20px;
}

.circular-icon-container {
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

.landing-icon {
  width: 80px;
  border-radius: 50%;
}

.icon-title {
  padding-top:20px;
  font-family: 'Pontano Sans',sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.icon-text {
  padding:8px 10px 25px 25px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 22px;
  color: grey;
}

.team-container {
  margin-top: 100px;
}

.team-main-container {
  padding-top: 40px;
}

.contact-icon-span{
  margin-left: 20px;
}

.contact-icon-img {
  width:40px;
}

.team-icon {
  width: 200px;
  border-radius: 50%;
}