@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

.owner-table {
  width: 55%;
}

.dog-profile-pic {
  width: 220px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.change-photo-btn {
  margin-left: 20px;
  font-family: 'Pontano Sans'
}

.dog-table {
  height: auto;
}

.dog-table-container {
  margin-top: 30px;
  height: auto;
  max-height: 200px;
}

.dog-info-td {

  vertical-align: top;
}

.update-btn {
  margin-left: 20px;
}
