@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');

.owner-table {
  width: 60%;
  margin-bottom: 15px;
}

.address {
  height: 100px;
}

.dog-profile-pic {
  width: 220px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.change-photo-btn {
  font-family: 'Pontano Sans';
  margin-left: 60px;
}

.photoupload {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:20px;
  background: #fff;
  border: 2px solid #66BB6A;
  color:#66BB6A;
  letter-spacing:1px;
  text-shadow:0;
  font-size:13px
}

.photoupload:hover{
  color:white;
  background: #66BB6A;
}

.dog-table {
  height: auto;
}

.dog-table-container {
  margin-top: 30px;
  height: auto;
  max-height: 200px;
}

.dog-info-td {
  vertical-align: middle;
}

.dog-extras-td {
  height:150px;
  vertical-align: middle;
}


.update-btn {
  color: white;
  padding-left:18px;
  padding-right: 18px;
  outline: none;
  background-color: #66BB6A;
  height: 45px;
  border: none;
  border-radius:5px;
  margin-left: 10px;
}

.update-btn:hover{
  background-color: #2ecc71;
}
