.stepper-container {
  width: 100%;
  max-width: 900px;
  padding-top: 30px;
  margin: auto;
}

.btn-container {
  margin-top: 12px;
}

.back-btn {
  margin-right: 12px;
}

.btn-container-main {
  margin: 0 16px;
}